@tailwind base;
@tailwind components;
@tailwind utilities;

li:hover{
    border-bottom: 2px solid purple;
    color: purple;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}